html {
    color: white;
    text-align: center;
}

body {
    padding: min(50px, 7%);
    background-color: rgb(13, 13, 20);
}

.card {
    padding: 2em;
    border: 1px solid rgb(75, 82, 92);
    background-color: #222429;
}

.grid-container {
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    justify-content: center;
}
